h1,
p {
  font-family: Lato;
}

body {
  /* display: grid;
  place-items: center; */
  max-width: 100%;
  min-height: 100vh;
}

.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 100px;
  grid-auto-flow: inherit;
  /* grid-auto-flow: dense; */
}
